{{ require_css(get_asset_url('../../main.css')) }}
{{ require_js(get_asset_url('../../vendor.js'), 'footer') }}
{{ require_js(get_asset_url('../../main.js'), 'footer') }}
{%- set instance_id = name %}

<div class="cms-react-boilerplate">
  <script type="application/json"
    data-module-instance="{{ instance_id }}"
    data-portal-id="{{ portalId }}">
      {{ module|tojson }}
  </script>

  <div id="App--{{ instance_id }}"></div>
</div>
