/*########## Start of Parent Class Design ##########*/
// .parent-class-container{
//   justify-content: center;
//   align-items: center;
// }

.parent-class-header{
  & .MuiSvgIcon-root{
    margin: 3px;
  }
}

.parent-class-header-text,
#parent-class-header-icon {
  font-weight: 700;
  font-family: inherit;
}

#parent-class-header-icon {
  font-size: 25px;
  margin: 2px;
}

.parent-class-header-text {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  flex-wrap: nowrap;
}

.column-container{
  display: flex;
  flex-direction: column;
}

.row-container{
  display: flex;
  flex-direction: row;
}

.green-tns{
  background-color: #47a141 !important;
  color: #ffffff !important;

  &:hover {
    background-color: #72bf44 !important;
  }
}

.orange-tns{
  background-color: #ef7622 !important;
  color: #ffffff !important;

  &:hover {
    background-color: #f68b1f !important;
  }
}

#filter-reset-btn,
#filter-search-btn,
#schedule-parent-class-btn,
#have-parent-class-btn{
  padding: 9px 12px;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  // width: 100%;
  font-family: inherit;
  border-radius: 0px;
}

#reschedule-parent-class-btn,
#makeup-select-btn{
  padding: 6px 12px;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  font-family: inherit;
  border-radius: 0px;
}

#close-btn,
#upload-btn,
#cancel-lesson-btn{
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  font-family: inherit;
  border-radius: 0px;
  margin-left: 8px !important;
}

.btn-shadow{
  box-shadow: 0 1px 3px RGB(0 0 0 / 10%), 0 1px 2px RGB(0 0 0 / 18%);
  &:hover {
    box-shadow: 0 3px 6px RGB(0 0 0 / 20%), 0 3px 6px RGB(0 0 0 / 26%);
  }
}

.parent-class-add-schedule{
  padding: 10px 0;

  & > .MuiPaper-rounded{
    border-radius: 0px;
  }
}

.parent-class-add-schedule-card{
  width: 65%;
  padding: 0 15px;

  .parent-class-add-schedule-text{
    line-height: 34px;
  }
}

#parent-class-add-schedule-btn{
  width: 35%;
  border-radius: 0px;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 12px;
}

/* Filter styles */
.filter-field-container{
  display: flex;
  padding: 5px 0;
}

.filter-dialog-container {

  & .filter-field-container {
    & label {
      font-size: 15px;
      font-family: inherit;
    }

    & .MuiInputBase-root.MuiOutlinedInput-root {
      font-family: inherit;
    }

    & legend {
      font-size: 11px;
    }

    &.filter-location{
      & .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu {
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
  
      &>.MuiFormControl-root {
        margin: 0;
      }
  
      & .MuiOutlinedInput-input {
        padding: 11px 13px;
      }
  
      & svg.MuiSelect-iconOutlined {
        top: 9px;
        right: 13px;
      }
    }
  }
}

/* Schedule table styles */

.schedule-table{
  border: 1px solid #e0e0e0;
  margin: 10px 0;

  & .schedule-thead th {
    border: 1px solid #e0e0e0;
    font-family: inherit;
  }

  & .schedule-tbody {
    & > tr:hover {
      background-color: #f5f5f5 !important;
    }

    & td {
      border: none !important;
      font-family: inherit;
    }

    & .MuiAccordionActions-root {
      padding: 0;
    }
  }

  & .my-classes-accordion-table {
    border: none;

    & th {
      border: none;
      background-color: transparent;
    }

    & tr {
      background-color: transparent;
    }
  }
}

/* Choose have or no parent class */

.parent-class-choose-container{
  margin: 3px 0px;
}

/* Parent Class schedule main table styles */
#parent-class-table {
  border: 1px solid #e0e0e0;
  margin: 10px 0;

  & th,
  & td, 
  & tr{
    border: 1px solid #ddd;
    font-family: inherit;
  }

  & .parent-class-thead{ 
    & tr,
    & th{
      font-size: 14px !important;
      font-weight: 700 !important;
    }

    & th {
      font-family: inherit;
    }
  }

  & .parent-class-tbody{
    & td {
      font-size: 13px;
    }

    & tr:hover{
      background-color: #f5f5f5 !important;
    }
  }

  & #parent-class-view-details-btn{
      border-radius: 0px;
    
    & svg {
      color: white !important;
    }
  }

  /* change menu */
  & #parent-class-change-menu{
    & li {
      padding: 0 5px;
  
      &:hover {
        background-color: #ffffff;
      }
    }
  }

  /* status buttons styles*/
  & #absent-status-btn,
  & #passed-status-btn,
  & #present-status-btn,
  & #scheduled-status-btn,
  & #noshow-status-btn,
  & #change-status-btn,
  & #cancel-status-btn,
  & #reschedule-status-btn,
  & #cancelled-status-btn{
    color: white;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 12px;
    margin: 3px;
    border-radius: 0px;
  }

  & #pending-status-btn{
    background-color: white;
    color: #ef7622;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 12px;
    margin: 3px;
    border-radius: 0px;
  }

  &.green-tns.Mui-disabled {
    background: #000000 !important;
    opacity: 0.1 !important;
  }
}
/* parent class main table styles */
.schedule-table-pagination,
.parent-class-table-pagination{
  & .MuiTablePagination-selectLabel,
  & .MuiTablePagination-displayedRows{
    margin: auto;
  }
}

/* status buttons styles*/

 #cancel-status-btn,
 #reschedule-status-btn{
  color: white;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 12px;
  border-radius: 0px;
  // margin: 5px;

  & p {
    font-size: 15px;
  }

  & .MuiSvgIcon-root {
    font-size: 18px;
    margin-right: 8px;
  }
}

/* Parent Class Uploading of certificate styles */
.upload-certificate-container{
  border: 1px solid #e0e0e0;
  padding: 5px 5px 15px;
  margin: 0 15px;
}

.upload-certificate-text{
  
  &.MuiTypography-root{
    font-size: 13px;
    margin: 5px 40px 5px 5px;
  }
}

/* Start of Open Classes styles */
#open-class-select-btn{
  height: 32px;
  font-size: 14px;
  border-radius: 0px;
}

.open-class-confirmation-date{
  font-weight: 300;
}

/* Start of Cancel lesson styles*/
.cancel-parent-class-button-container{
  display: flex;
  justify-content: flex-end;
}

 /* Start of Spinner styles*/
 
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #47a141;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin .7s linear infinite;
  margin: 0 auto;
}

.modalBoldText {
  font-weight: 700 !important;
  text-align: right !important;
  font-size: 14px !important;
}

.modalTextValue {
  font-size: 14px !important;
  color: #333333 !important;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

/*########## End of Parent Class Design ##########*/