* {
  box-sizing: border-box;
}

a {
  text-decoration-line: none !important;
  text-decoration-color: transparent !important;
}

.MuiTabs-indicator {
  background-color: #EF7622 !important;
  height: 4px !important;
}

.MuiTabs-flexContainer,
.MuiTab-wrapper {
  background-color: white;
  color: #737373;
  text-transform: uppercase;
  font-weight: 700;
}

.Mui-selected>span {
  color: black;
  font-size: 14px;
  font-weight: 700;
}

.scheduledLessons>.MuiBox-root,
.scheduledRoadTest>.MuiBox-root {
  padding: 24px 24px 24px 0px !important;
}

.accordionLesson>.MuiAccordionSummary-root {
  max-height: 40px;
}

.cardCalendar,
.cardSlots {
  box-shadow: 0 3px 6px RGB(0 0 0 / 16%), 0 3px 6px RGB(0 0 0 / 22%) !important;
}

.cardCalendar {
  max-width: 657px;
}

#buttonNotVisited,
#buttonNotVisitedRT {
  border-radius: 0px;
  text-transform: uppercase;
  background-color: #47a141;
  border-color: #47a141;
  color: white;
}

#buttonNotVisited:hover,
#buttonNotVisitedRT:hover {
  box-shadow: 0 3px 6px RGB(0 0 0 / 16%), 0 3px 6px RGB(0 0 0 / 22%) !important;
  background-color: #72BF44;
  border-color: #72BF44;
}

#buttonVisited,
#buttonVisitedRT {
  border-color: #EF7622;
  background-color: #EF7622;
  color: white;
  border-radius: 0px;
}

#buttonVisited:hover,
#buttonVisitedRT:hover {
  border-color: #F68B1F;
  background-color: #F68B1F;
  color: white;
  border-radius: 0px;
}

.openSlotButton button:hover {
  box-shadow: 0 3px 6px RGB(0 0 0 / 16%), 0 3px 6px RGB(0 0 0 / 22%) !important;
}

.ScheduleCalendarCol {
  padding-top: 35px;
}

.openSlotButton>.MuiSvgIcon-root {
  color: #777 !important;
}

.openSlotButton {
  text-align: right;
}

.cardCalendarCol {
  padding-right: 0px;
}

.myScheduleCol {
  padding-right: 30px;
}

.calendarColButton {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tab1,
.tab2,
.tab3,
.tab4 {
  background-color: white;
}

.myScheduleCol>.MuiAppBar-colorPrimary,
.MuiAppBar-colorPrimary {
  background-color: white !important;
}

.schedulingTabs .tab1 svg,
.tab2 svg,
.tab3 svg,
.tab4 svg {
  display: none;
}

.schedulingTabs .MuiTab-labelIcon {
  min-height: 48px;
}

// .scheduleRadioButtons .Mui-checked input[checked] {
//   fill: #73716e !important;
//   color: #73716e !important;
// }

.scheduleRadioButtons>.MuiSvgIcon-fontSizeSmall {
  color: #73716e !important;
}

.MuiRadio-colorSecondary.Mui-checked {
  color: #73716e !important;
}

.scheduleRadioButtons {
  font-weight: 700 !important;
  color: black !important;
}

.ScheduleCalendarCol .rdrDefinedRangesWrapper,
.ScheduleCalendarCol .rdrDateDisplayWrapper {
  display: none !important;
}

.ScheduleCalendarCol .rdrMonthAndYearWrapper {
  border-bottom: 1px solid lightgray;
}

.ScheduleCalendarCol .rdrDateRangeWrapper {
  width: 100%;
}

.ScheduleCalendarCol .rdrDateRangePickerWrapper {
  border: 1px solid lightgray;
  width: 100%;
}

.ScheduleCalendarCol .rdrMonths {
  display: flex;
  min-width: 100%;
}

.ScheduleCalendarCol .rdrMonth {
  width: 100%;
}

.ScheduleCalendarCol {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.datepicker-button-previous,
.datepicker-button-next {
  padding: 0 !important;
}

.MuiDialog-paperScrollPaper[aria-labelledby='refineSearchModal'] {
  width: 600px !important;
  top: -120px !important;
  overflow-y: hidden !important;
}

.MuiDialog-paperScrollPaper[aria-labelledby='refineSearchModal'] .MuiDialogContent-root {
  overflow-y: hidden !important;
}

#filter-calendar-button:active {
  outline: none !important;
}

#filter-calendar-button:focus {
  outline: none !important;
}

.schedulingTabs .MuiTabs-flexContainer>a {
  font-size: 12px !important;
}

.scheduledLessons>.MuiBox-root,
.scheduledRoadTest>.MuiBox-root {
  padding: 24px 0px 24px 0px !important;
}

.cardCol table th {
  font-size: 14px !important;
}

div[aria-labelledby='table-button-modal'] {
  width: 600px;
}

.MuiCircularProgress-colorPrimary {
  color: #26a69a !important;
}

#noResultsCloseButton {
  background-color: #e5e5e5;
  border-radius: 0px;
  color: black;
  font-size: 11px;
  padding: 6px 18px;
}

#noResultsCloseButton:hover {
  box-shadow: 0 1px 3px RGB(0 0 0 / 10%), 0 1px 2px RGB(0 0 0 / 18%);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  color: #333;
  background-color: lightgray;
}

.noAvailableOpenSlotCard {
  background-color: #cb5a5e !important;
  color: white !important;
}

.ScheduleCalendarCol button.rdrDay {
  margin: 0 1px 2px 0 !important;
  width: 40px !important;
  background-color: #47a141;
  color: #ffffff !important;
  font-weight: 600;
}

.ScheduleCalendarCol .rdrDay:not(.rdrDayDisabled) .rdrDayNumber span {
  color: #ffffff !important;
}

.ScheduleCalendarCol .rdrDay.rdrSelected.rdrDayNumber:active {
  background-color: RGB(42, 188, 121) !important;
}

.ScheduleCalendarCol button.rdrDay:hover {
  background-color: RGB(42, 188, 121) !important;
}

.ScheduleCalendarCol button.rdrDay:active {
  background-color: lightgreen !important;
}

.ScheduleCalendarCol .rdrDay.rdrDayDisabled {
  background-color: RGB(232, 232, 232) !important;
}

.ScheduleCalendarCol .rdrDay.rdrDayDisabled .rdrDayNumber span {
  color: black !important;
  font-weight: 600;
}

.ScheduleCalendarCol .rdrDay.rdrDayDisabled:hover {
  background-color: RGB(232, 232, 232) !important;
  cursor: default;
}

.ScheduleCalendarCol .rdrSelected:active {
  background-color: RGB(232, 232, 232) !important;
}

.ScheduleCalendarCol .rdrDay.rdrDayDisabled:focus {
  background-color: RGB(232, 232, 232) !important;
  cursor: default;
}

.ScheduleCalendarCol .rdrDay.rdrDayDisabled:active {
  background-color: RGB(232, 232, 232) !important;
  cursor: default;
}

.MuiTablePagination-caption.MuiTypography-body2 {
  font-size: 14px;
}

.MuiSelect-select.MuiTablePagination-select {
  font-size: 14px;
  line-height: initial;
}

svg.MuiTablePagination-selectIcon {
  margin-top: 3px;
  margin-right: 5px;
}

.MuiTablePagination-menuItem {
  font-size: 14px;
}

.MuiTablePagination-menuItem.Mui-selected {
  font-size: 16px;
}

div.MuiDialog-paperWidthSm[aria-labelledby='responsive-dialog-container'] {
  max-width: 750px !important;
}

.ScheduleCalendarCol .rdrYearPicker {
  display: none !important;
}

thead>tr th {
  font-size: 14px !important;
}

#time-label,
#select-location-label,
#timePickerBorder #time,
#week-days-checkboxes-label {
  font-size: 14px !important;
}

#weekdaysPicker fieldset>legend,
.timePickerBorder fieldset>legend,
#locationsPicker fieldset>legend {
  font-size: 10.5px;
}

.tableBodyScheduledLesson td,
.tableBodyRoadTestLesson td {
  border-left: 1px solid rgba(224, 224, 224, 1);
  border-right: 1px solid rgba(224, 224, 224, 1);
}

#payNowCloseButton {
  background-color: #e5e5e5;
  color: #333;
  font-size: 14px;
  font-weight: 600;
}

#payBalanceButton:hover {
  color: white;
  background-color: #1f897f;
}

#payBalanceButton {
  background-color: #26a69a;
  color: white;
  font-size: 14px;
}

.required:after {
  content: ' *';
  color: red;
}

.payNowModalLabel {
  font-size: 14px;
  line-height: 38px;
  text-align: right;
}

.inputTextField .MuiOutlinedInput-root.MuiInputBase-formControl {
  height: 37px;
  border-radius: 0px;
  width: 220px;
}

.inputTextField {
  flex-wrap: nowrap !important;
  display: flex !important;
}

.inputTextFieldAddress .MuiOutlinedInput-root.MuiInputBase-formControl {
  height: 37px;
  border-radius: 0px;
  width: 258px;
}

.inputTextFieldZipState .MuiOutlinedInput-root.MuiInputBase-formControl {
  height: 37px;
  border-radius: 0px;
  min-width: 103px;
  max-width: 103px;
}

.stateField {
  height: 37px !important;
  border-radius: 0px !important;
}

#dollarSign:hover {
  color: #333;
}

#responsive-pay-now-title {
  font-size: 16px !important;
  font-weight: 700 !important;
}

div.form-check {
  padding: 0;
}

input.form-check-input.position-static {
  width: 25px !important;
  height: 25px !important;
  border-radius: 0px !important;
  border-color: rgba(0, 0, 0, 0.23);
}

li.MuiAutocomplete-option {
  font-size: 14px !important;
}

div.MuiAutocomplete-groupLabel.MuiListSubheader-sticky.MuiListSubheader-gutters {
  font-size: 16px !important;
}

input[id='week-days-checkboxes'] {
  font-size: 14px;
}

input[id='date'] {
  font-size: 14px;
}

input[type='checkbox'] {
  width: 20px !important;
  height: 20px !important;
}

span.MuiChip-label.MuiChip-labelSmall {
  font-size: 14px !important;
}

input[type='time'] {
  font-size: 14px !important;
}

thead tr th {
  border-top: 1px solid rgba(224, 224, 224, 1);
  border-left: 1px solid rgba(224, 224, 224, 1);
  border-right: 1px solid rgba(224, 224, 224, 1);
}

.cardCol .MuiCircularProgress-colorPrimary {
  display: block !important;
}

.MuiButton-textPrimary.Mui-disabled {
  opacity: 0.5;
}

#payBalanceButton .MuiCircularProgress-colorPrimary {
  color: white !important;
  width: 20px !important;
  height: 20px !important;
  margin-right: 5px !important;
}

.ScheduleCalendarCol button.rdrNextPrevButton:active,
.ScheduleCalendarCol button.rdrNextPrevButton:focus,
.ScheduleCalendarCol button.rdrNextButton:active,
.ScheduleCalendarCol button.rdrNextButton:focus,
.ScheduleCalendarCol button[title='Next page']:focus,
button[title='Previous page']:focus {
  background-color: rgba(113, 114, 122, 0.5) !important;
  border-color: #71727a !important;
  color: #fff !important;
}

#DateRangeIcon,
#SpeedIcon,
#DirectionsCarIcon,
#AssignmentIcon {
  font-size: 25px;
}

#drivingLessonTab,
#roadTestTab,
#classScheduleTab {
  display: flex;
  justify-content: center;
  height: 500px;
  flex-direction: column;
  align-items: center;
}

#buttonsWrapper {
  margin-right: 10px !important;
}

#changeButton {
  background-color: #E76811;
  border-radius: 0px;
  margin-right: 5px;
  font-size: 12px;
  color: #ffffff;
}

#changeButton:hover {
  background-color: #F68B1F;
  border-radius: 0px;
  margin-right: 5px;
  font-size: 12px;
}

#DLRescheduleButton {
  background-color: #47a141;
  border-radius: 0px;
  font-size: 12px;
  color: #ffffff;
}

#DLRescheduleButton[disabled].Mui-disabled {
  cursor: not-allowed !important;
  background-color: gray !important;
}

#refineSearchButtonDrivingCalendar,
#refineSearchModalSearchButton,
#refineSearchModalSearchButtonRT,
#refineSearchButtonLicenseTest,
#DialogScheduleButton,
#RTRescheduleButton,
#RTScheduleButton2 {
  background-color: #47a141;
  border-radius: 0px;
  margin-right: 5px;
  font-size: 12px;
  color: white;
}

#refineSearchButtonDrivingCalendar:hover,
#refineSearchModalSearchButton:hover,
#refineSearchButtonLicenseTest:hover,
#refineSearchModalSearchButtonRT:hover,
#DLRescheduleButton:hover,
#DialogScheduleButton:hover,
#RTScheduleButton2:hover {
  background-color: #72BF44;
}

#clearSearchButtonDrivingCalendar,
#refineSearchModalCancelButton,
#refineSearchModalCancelButtonRT,
#closeButton,
#CancelScheduleButton,
#tableButtonModalCloseButton,
#DialogCancelButton {
  background-color: #EF7622;
  border-radius: 0px;
  color: white;
  font-size: 12px;
}

#clearSearchButtonDrivingCalendar:hover,
#refineSearchModalCancelButton:hover,
#refineSearchModalCancelButtonRT:hover,
#closeButton:hover,
#tableButtonModalCloseButton:hover,
#DialogCancelButton:hover {
  background-color: #F68B1F;
}

.MuiCollapse-entered {
  overflow: auto !important;
}

.headerTextCol p {
  color: black;
  font-weight: 700;
  font-size: 16px;
  display: inline;
}

//START - Confirm Dialog Button

#DialogCancelButton {
  margin-left: 0px !important;
}

// .DialogButtonWrapper {
//   flex-wrap: nowrap !important;
// }

#DialogScheduleButton:hover,
#DialogCancelButton:hover {
  opacity: 0.9;
  font-size: 16px !important;
}

#DialogScheduleButton .MuiCircularProgress-colorPrimary,
#CancelScheduleButton .MuiCircularProgress-colorPrimary,
#RTRescheduleButton .MuiCircularProgress-colorPrimary,
#DLRescheduleButton .MuiCircularProgress-colorPrimary,
#RTScheduleButton .MuiCircularProgress-colorPrimary {
  color: white !important;
  width: 20px !important;
  height: 20px !important;
  margin-right: 5px !important;
}

//END - Confirm Dialog Button

//START - Confirm Dialog Hourglass

#loader {
  animation: loader 5s cubic-bezier(0.8, 0, 0.2, 1) infinite;
  height: 60px;
  width: 61px;
  /* position: absolute; */
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}

@keyframes loader {
  90% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

#top {
  animation: top 5s linear infinite;
  border-top: 30px solid #f68b1f;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  height: 0px;
  width: 1px;
  transform-origin: 50% 100%;
}

@keyframes top {
  90% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

#bottom {
  animation: bottom 5s linear infinite;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #f68b1f;
  border-left: 30px solid transparent;
  height: 0px;
  width: 1px;
  transform: scale(0);
  transform-origin: 50% 100%;
}

@keyframes bottom {
  10% {
    transform: scale(0);
  }

  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

#line {
  animation: line 5s linear infinite;
  border-left: 1px dotted #f68b1f;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 30px;
  left: 30px;
}

@keyframes line {
  10% {
    height: 30px;
  }

  100% {
    height: 30px;
  }
}

//END - Confirm Dialog Hourglass

#vanish,
#vanishRT {
  opacity: 0;
}

//==========================================================================================//
@media only screen and (max-width: 325px) {

  .dialogIcon {
    font-size: 50px !important;
  }

  .dialogText,
  .dialogText3 {
    font-size: 16px !important;
  }

  .dialogText2 {
    font-size: 14px !important;
  }

  .dialogText1 {
    font-size: 16px !important;
  }

  .MuiDialog-paperScrollPaper[aria-labelledby='refineSearchModal'] {
    width: 600px !important;
    top: -115px !important;
    overflow-y: hidden !important;
  }

  .formRow {
    margin-left: auto !important;
    margin-right: auto !important;
    width: min-content !important;
  }

  .formRowStateZip {
    margin-left: auto !important;
  }

  .col img {
    max-width: 275px !important;
  }

  .payNowModalLabel {
    text-align: left !important;
  }

  .myScheduleCol {
    padding-right: 10px !important;
    padding-left: 25px !important;
  }

  .schedulingTabs {
    width: auto !important;
  }

  .accordionCol p {
    font-size: 12px !important;
  }

  .ScheduleCalendarCol .rdrWeekDays {
    margin-right: 10px;
  }

  .ScheduleCalendarCol .rdrMonth {
    margin-left: -13px !important;
  }

  .calendarColButton {
    display: inline-flex !important;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: flex-end !important;
  }

  .openSlotButton {
    display: none;
  }

  .scheduledLessons>.MuiBox-root,
  .scheduledRoadTest>.MuiBox-root {
    padding: 24px 0px 24px 0px !important;
  }

  .cardCol {
    padding-right: 0px;
  }

  .cardCalendar>div.MuiCardContent-root {
    padding: 12px 5px 12px !important;
  }

  .ScheduleCalendarCol .rdrMonths {
    flex-wrap: wrap;
  }

  #alertDialog {
    min-width: 0px !important;
  }

  #refineSearchButtonDrivingCalendar {
    font-size: 11px !important;
  }

  #clearSearchButtonDrivingCalendar {
    font-size: 11px !important;
  }

  .ScheduleCalendarCol button.rdrNextButton {
    margin-right: 30px !important;
  }
}

//==============================================================================================================//
@media only screen and (max-width: 376px) {
  .ScheduleCalendarCol .rdrMonths {
    flex-wrap: wrap;
  }

  .cardCalendar>div.MuiCardContent-root {
    padding: 12px 5px 12px !important;
  }

  .cardCalendarCol .rdrWeekDays {
    margin-right: 10px;
  }

  .openSlotButton {
    display: none !important;
  }

  .formRow {
    margin-left: auto !important;
    margin-right: auto !important;
    width: min-content !important;
  }

  .formRowStateZip {
    margin-left: auto !important;
  }

  .stateZip {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .stateZipLabel {
    padding-left: 35px !important;
  }

  .stateCol {
    padding-left: 20px !important;
  }

  .zipCol {
    padding-right: 35px !important;
  }

  .col img {
    max-width: 275px !important;
  }

  .payNowModalLabel {
    text-align: left !important;
  }

  .schedulingTabs {
    width: auto !important;
  }

  .ScheduleCalendarCol .rdrMonth {
    width: 29em !important;
  }

  #alertDialog {
    min-width: 0px !important;
  }

  .myScheduleCol {
    padding-right: 17px !important;
    padding-left: 30px !important;
  }

  .calendarColButton button {
    font-size: 12px !important;
  }
}

// ==================================================================================== //

@media only screen and (max-width: 426px) {

  .DialogButtonWrapper {
    flex-wrap: wrap !important;
  }

  .ScheduleCalendarCol .rdrMonths {
    flex-wrap: wrap;
  }

  .formRow {
    margin-left: auto !important;
    margin-right: auto !important;
    width: min-content !important;
  }

  .formRowStateZip {
    margin-left: auto !important;
  }

  .stateZip {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .stateZipLabel {
    padding-left: 60px !important;
  }

  .stateCol {
    padding-left: 45px !important;
  }

  .zipCol {
    padding-right: 60px !important;
  }

  .col img {
    max-width: 275px !important;
  }

  .payNowModalLabel {
    text-align: left !important;
  }

  .openSlotButton {
    display: none;
  }

  .schedulingTabs {
    width: auto !important;
  }

  .myScheduleCol {
    padding-right: 20px !important;
    padding-left: 35px !important;
  }
}

@media only screen and (min-width: 501px) {

  .confirmDialogRT,
  .confirmDialog,
  .cancelDialogRT,
  .cancelDialog {
    width: 480px;
  }
}

@media only screen and (max-width: 500px) {

  .schedulingTabs .tab1 svg,
  .tab2 svg,
  .tab3 svg,
  .tab4 svg {
    display: block !important;
  }

  .schedulingTabs .tab1 span:not(svg),
  .tab2 span:not(svg),
  .tab3 span:not(svg),
  .tab4 span:not(svg) {
    font-size: 0px;
  }

  .ScheduleCalendarCol .rdrMonthPicker select {
    font-size: 16px !important;
  }
}

// =========================================================================//
@media only screen and (max-width: 769px) {

  .formRow {
    margin-left: auto !important;
    margin-right: auto !important;
    width: min-content !important;
  }

  #DialogScheduleButton:hover,
  #DialogCancelButton:hover {
    opacity: 0.9;
    font-size: 16px !important;
  }

  #DialogScheduleButton .MuiCircularProgress-colorPrimary {
    color: white !important;
    width: 20px !important;
    height: 20px !important;
    margin-right: 5px !important;
  }

  .formRowStateZip {
    margin-left: auto !important;
  }

  .stateZip {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .stateZipLabel {
    padding-left: 60px !important;
  }

  .stateCol {
    padding-left: 45px !important;
  }

  .zipCol {
    padding-right: 60px !important;
  }

  .col img {
    max-width: 275px !important;
  }

  .payNowModalLabel {
    text-align: left !important;
  }

  .openSlotButton {
    display: inline-flex;
  }

  .schedulingTabs {
    width: auto !important;
  }

  .ScheduleCalendarCol .rdrMonth {
    width: 26em !important;
  }

  .myScheduleCol {
    padding-right: 15px !important;
    padding-left: 30px !important;
  }

  .cardCalendar {
    margin: 24px auto;
  }

  .scheduledLessons>.MuiBox-root,
  .scheduledRoadTest>.MuiBox-root {
    padding: 24px 0px 24px 0px !important;
  }

  .calendarCol {
    min-width: 100%;
    padding-right: 0px;
  }

  .cardCol {
    min-width: 100%;
    padding-right: 0px;
  }

  .headerTextCol p {
    font-size: 15px !important;
  }

  .headerTextCol {
    max-width: 355px !important;
    min-width: 355px !important;
    margin-bottom: 10px !important;
  }

  .ScheduleCalendarCol .rdrMonths {
    flex-wrap: wrap;
  }

  .ScheduleCalendarCol .rdrMonth {
    margin: 0 auto;
  }

  #refineSearchButtonDrivingCalendar {
    font-size: 11px !important;
  }

  #clearSearchButtonDrivingCalendar {
    font-size: 11px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .formRow {
    margin-left: auto !important;
    margin-right: auto !important;
    width: min-content !important;
  }

  #DialogScheduleButton:hover,
  #DialogCancelButton:hover {
    opacity: 0.9;
    font-size: 16px !important;
  }

  #DialogScheduleButton .MuiCircularProgress-colorPrimary {
    color: white !important;
    width: 20px !important;
    height: 20px !important;
    margin-right: 5px !important;
  }

  .formRowStateZip {
    margin-left: auto !important;
  }

  .stateZip {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .stateZipLabel {
    padding-left: 60px !important;
  }

  .stateCol {
    padding-left: 45px !important;
  }

  .zipCol {
    padding-right: 60px !important;
  }

  .col img {
    max-width: 275px !important;
  }

  .payNowModalLabel {
    text-align: left !important;
  }

  .openSlotButton {
    display: inline-flex;
  }

  .schedulingTabs {
    width: auto !important;
  }

  .ScheduleCalendarCol .rdrMonth {
    width: 26em !important;
  }

  .myScheduleCol {
    padding-right: 15px !important;
    padding-left: 30px !important;
  }

  .cardCalendar {
    margin: 24px auto;
  }

  .scheduledLessons>.MuiBox-root,
  .scheduledRoadTest>.MuiBox-root {
    padding: 24px 0px 24px 0px !important;
  }

  .calendarCol {
    min-width: 100%;
    padding-right: 0px;
  }

  .cardCol {
    min-width: 100%;
    padding-right: 0px;
  }

  .headerTextCol p {
    font-size: 15px !important;
  }

  .headerTextCol {
    max-width: 355px !important;
    min-width: 355px !important;
  }

  .ScheduleCalendarCol .rdrMonths {
    flex-wrap: wrap;
  }

  .ScheduleCalendarCol .rdrMonth {
    margin: 0 auto;
  }

  #refineSearchButtonDrivingCalendar {
    font-size: 11px !important;
  }

  #clearSearchButtonDrivingCalendar {
    font-size: 11px !important;
  }
}

@media only screen and (max-width: 1580px) {
  .ScheduleCalendarCol .rdrDateRangePickerWrapper {
    max-width: 768px;
  }

  .ScheduleCalendarCol .rdrMonths.rdrMonthsHorizontal {
    flex-wrap: wrap !important;
  }

  .ScheduleCalendarCol .rdrMonth {
    margin: 0 auto !important;
  }
}

@media only screen and (min-width: 1581px) {
  .schedulingTabs {
    max-width: 1594px !important;
    width: 100vw !important;
  }
}

/* Start of styles in my-schedules */

#reset-date-container {
  padding: 0px 15px;
  display: flex;
  justify-content: flex-end;
  // justify-content: space-between;
  // flex-direction: row;

  & .reset-info-btn {
    background-color: #EF7622;

    &:hover {
      background-color: #F68B1F;
    }
  }
}

#schedule-view-type-group {
  &>.schedule-view-type-btn {
    background-color: #e5e5e5;
    border-color: #d6d6d6;
    color: #777;
  }

  &>.schedule-view-type-btn:hover {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
    box-shadow: 0px 2px 4px -1px RGB(0 0 0 / 20%),
      0px 4px 5px 0px RGB(0 0 0 / 14%), 0px 1px 10px 0px RGB(0 0 0 / 12%);
  }

  &>.schedule-view-type-btn.focus {
    box-shadow: none;
  }

  &>.schedule-view-type-btn.focus {
    box-shadow: none;
    outline: 0;
  }

  &>.schedule-view-type-btn.active {
    background-color: #3598dc;
    border-color: #2d87c4;
    color: #fff;
    box-shadow: none;
  }

  &>.schedule-view-type-btn:hover.active {
    box-shadow: 0px 2px 4px -1px RGB(0 0 0 / 20%),
      0px 4px 5px 0px RGB(0 0 0 / 14%), 0px 1px 10px 0px RGB(0 0 0 / 12%);
  }
}

.schedule-datepicker-container {
  text-align: center;
  padding: 15px 20px 5px;
  user-select: none;
}

.filter-toggle-button-container,
.appointments-container {
  min-width: 100%;
  padding: 10px 15px;
}

#filter-toggle-button-group {
  min-width: 100%;

  &>.filter-toggle-button {
    background-color: #e5e5e5;
    border-color: #d6d6d6;
    color: #777;
  }

  &>.filter-toggle-button:hover {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
    box-shadow: 0 3px 6px RGB(0 0 0 / 20%), 0 3px 6px RGB(0 0 0 / 26%);
  }

  &>.filter-toggle-button.focus {
    box-shadow: none;
    outline: 0;
  }

  &>.filter-toggle-button.btn.focus {
    box-shadow: none;
  }

  &>.filter-toggle-button.active {
    background-color: #47a141;
    border-color: #72BF44;
    color: #fff;
    box-shadow: none;
  }

  &>.filter-toggle-button:hover.active {
    box-shadow: 0 3px 6px RGB(0 0 0 / 20%), 0 3px 6px RGB(0 0 0 / 26%);
    background-color: #72BF44;
  }
}

.filter-calendar-button {
  background-color: #3598dc;
  border-color: #2d87c4;
  color: #fff;
}

#filter-calendar-button:hover {
  box-shadow: 0 3px 6px RGB(0 0 0 / 20%), 0 3px 6px RGB(0 0 0 / 26%);
}

/* HORIZONTAL DATEPICKER STYLE */

.schedule-datepicker-container .date-day-Item-selected {
  height: 48px !important;
  width: 48px !important;
  border: 2px solid #3598dc;
  color: #3598dc;
}

.schedule-datepicker-container .datepicker-month-label {
  color: #3598dc;
}

.schedule-datepicker-container .datepicker-button-previous,
.schedule-datepicker-container .datepicker-button-next {
  background-color: #3598dc;
}

.schedule-datepicker-container .datepicker-date-day-Item:hover {
  background-color: #3598dc;
}

.schedule-datepicker-container .scroll-head {
  background-color: #49d5ec;
  color: #fff;
}

.datepicker-button-previous,
.datepicker-button-next {
  padding: 0 !important;
}

/* END OF HORIZONTAL DATEPICKER STYLE */

/* SHOW MODAL CALENDAR STYLE */

#show-calendar-modal-content>button.rdrDay:hover {
  background-color: transparent !important;
}

#show-calendar-modal-content>button.rdrDay:focus {
  background-color: transparent !important;
}

#show-calendar-modal-content>button.rdrDay:active {
  background-color: transparent !important;
}

#filter-toggle-button.btn.focus {
  outline: none !important;
}

.cardCol table {
  border: none !important;
}

.cardCol table th {
  border: none !important;
}

.cardCol table td {
  border: none !important;
}

.myAccountTabs a:focus {
  outline: none !important;
}

.schedulingTabs>header>.MuiTabs-root>div>div>a {
  outline: none !important;
}

#filter-toggle-button:focus {
  outline: none !important;
}

#calendar-close-btn {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
  color: #333;
}

#calendar-close-btn:hover {
  background-color: #cccccc;
}

#calendar-close-btn:focus {
  background-color: #cccccc;
  box-shadow: RGBa(0, 0, 0, 0.22) 0px 8px 18px 0px,
    RGBa(0, 0, 0, 0.26) 0px 6px 6px 0px;
}

.ScheduleCalendarCol .rdrMonth {
  width: 26em;
}

@media only screen and (max-width: 400px) {
  .anti-comment-class {
    display: none;
  }

  #show-calendar-modal-title {
    padding: 7px;
  }

  #show-calendar-modal-title button {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  #show-calendar-modal-content {
    padding: 0 6px;
  }

  #show-calendar-modal-content .rdrMonthAndYearWrapper {
    padding-top: 0px;
    height: 45px;
  }

  #show-calendar-modal-content .rdrMonth:nth-child(1) {
    padding-bottom: 4px;
  }

  #show-calendar-modal-actions {
    padding: 4px 8px;
  }
}

/* END OF MODAL CALENDAR STYLE */

.makeupPaperCardRow,
.drivingPaperCardRow {
  min-height: 150px;
  border-left: 4px #47a141 solid;
  border-radius: 4px !important;
  padding: 8px 4px;
  background-color: #f6fbfc !important;
  width: 100%;
  margin: 1px;
}

.drivingPaperCardRow {
  border-color: #47a141 !important;
}

.mysched-road-test-card {
  border-color: #47a141 !important;
}

.titleCard {
  box-shadow: 0 1px 2px -2px gray;
  padding: 3px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#makeupTitleCard-text,
#drivingTitleCard-text,
#roadtestTitleCard-text {
  padding-top: 5px;
  color: #47a141;
  font-weight: 600;
  text-transform: uppercase;
}

.makeupDetailsCard {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

#card-date {
  font-weight: bold;
}

#card-duration {
  font-style: italic;
  color: gray;
  font-weight: bold;
}

.appointments-container {
  max-height: 500px;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  padding: 10px 30px 0px 30px;
}

#card-session-options-btn {
  height: 30px;
  border-radius: 4px;
  background-color: #47a141;
  color: #fff;
  margin-right: 8px;
  font-family: inherit;

  &:hover {
    background-color: #72BF44;
    box-shadow: 0px 2px 4px -1px RGB(0 0 0 / 20%),
      0px 4px 5px 0px RGB(0 0 0 / 14%), 0px 1px 10px 0px RGB(0 0 0 / 12%);
  }
}

#drivingChange-options-btn {
  height: 30px;
  background-color: #ef7622;
  color: #fff;

  &:hover {
    background-color: #f68b1f;
    box-shadow: 0 3px 6px RGB(0 0 0 / 20%), 0 3px 6px RGB(0 0 0 / 26%);
  }
}

#options-menu-icon {
  margin-right: 8px;
}

#session-options-menu .MuiList-padding {
  padding: 4px !important;
}

.appointment-details-key,
.appointment-details-value {
  width: 50% !important;

  &>p {
    font-size: 13px;
  }
}

.scheduleDetails-table {
  border: none;

  & td {
    border: none;
  }
}

.cardDetails-pickup-location-1,
.cardDetails-pickup-location-2 {
  color: #47a141;
  text-transform: uppercase;
  font-weight: 600;
}

.cardDetails-pickup-location-2 {
  color: #47a141;
}

.myScheduleCard-options {
  width: 190px;
  display: flex;
  justify-content: space-between;
}

.myScheduleCard-options.roadtest {
  justify-content: flex-end;
}

#cancel-appointment-dialog-content {
  display: flex;
  justify-content: flex-end;
}

#my-schedule-yes-cancel-btn,
#my-schedule-no-cancel-btn {
  color: #ffffff !important;
  margin: auto 5px !important;
}

#my-schedule-yes-cancel-btn {
  background-color: #47a141;

  &:hover {
    background-color: #72bf44;
  }
}

#my-schedule-no-cancel-btn {
  background-color: #ef7622;

  &:hover {
    background-color: #f68b1f;
  }
}

#my-schedule-reschedule-title>h6 {
  color: #6b8fca;
  display: flex;
  padding: 5px;
}

#my-schedule-reschedule-title-icon {
  padding-top: 5px;
  font-size: 13px;
}

#my-schedule-reschedule-title-text {
  margin-left: 5px !important;
  font-family: inherit;
}

#resched-date-btn {
  background-color: #47a141;
  color: #fff;
  padding: 8px 20px;
  font-family: inherit;

  &:hover {
    background-color: #72bf44;
  }
}

#my-schedule-yes-cancel-btn,
#my-schedule-no-cancel-btn,
#my-schedule-reschedule-lesson-btn,
#my-schedule-reschedule-makeup-btn {
  border-radius: 4px;
  font-size: 12px;
  font-family: inherit;

  &:hover {
    box-shadow: 0 3px 6px RGB(0 0 0 / 20%), 0 3px 6px RGB(0 0 0 / 26%);
  }
}

#my-schedule-reschedule-lesson-btn,
#my-schedule-reschedule-makeup-btn {
  background-color: #47a141;
  color: #ffffff;

  &:hover {
    background-color: #72bf44;
  }
}

.ScheduleCalendarCol .rdrDay.rdrDayDisabled.rdrDayHovered .rdrDayNumber::after {
  border: none !important;
  content: none !important;
}

#filter-toggle-button-group {
  display: flex;
}

.reset-info-btn {
  display: flex !important;
  justify-content: center !important;

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &>svg {
    margin: auto 5px auto auto;
  }
}

.reset-btn-icon {
  margin-right: 5px;
}

//datepicker container
.schedule-datepicker-container>div:nth-child(1) {
  display: flex;
  width: 100%;
  background: white;

  //datepicker buttonwrapper
  &>div:nth-child(1),
  &>div:nth-child(3) {
    display: flex;
    align-items: flex-end;
    z-index: 2;
    background: inherit;

    //button
    button {
      border: none;
      text-decoration: none;
      cursor: pointer;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      color: white;
      font-size: 20px;
      font-weight: bold;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin-bottom: 5px;
      background-color: #47a141 !important;

      &:hover {
        background-color: #72bf44 !important;
      }
    }
  }

  //container dateListScrollable
  #container {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 2px 0 2px -40px;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      display: none;
    }

    //monthContainer
    &>div {
      display: flex;
      flex-direction: column;

      //monthYearLabel
      & span {
        align-self: flex-start;
        z-index: 3;
        font-size: 15px;
        font-weight: bold;
        position: sticky;
        top: 0;
        left: 0;
        width: max-content;
        margin: 0 14px 10px 0;
        color: #47a141 !important;
      }

      //daysContainer
      &>div:nth-child(2) {
        display: flex;
        z-index: 1;

        //dateDayItem
        &>div {
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          margin: 0 0 0 5px;
          width: 49px !important;
          height: 49px !important;
          flex-shrink: 0;

          &:hover {
            background: #72bf44 !important;
            border-color: #72bf44 !important;
            border-radius: 50% !important;
            color: #fff !important;
          }

          //dayLabel
          &>div:nth-child(1) {
            font-size: 12px;
            margin: 4px 0 0 0;
          }

          //dateLabel
          & div:nth-child(2) {
            font-size: 18px;
          }
        }
      }
    }
  }

  & #selected {
    background-color: transparent;
    border-color: #47a141 !important;
    color: #47a141 !important;
  }
}

.active-schedule {
  background: #ef7622;
  border-color: #ef7622;
  border-radius: 50%;
  color: #fff;
}

.my-schedule-makeup-dialog,
.my-schedule-appointment-dialog {

  & .my-schedule-makeup-table,
  & .my-schedule-resched-appointment-table {
    border: 1px solid #e0e0e0;
    margin: 10px 0;

    & .my-schedule-reschedule-tablebody>tr:hover {
      background-color: #f5f5f5 !important;
    }

    & .my-schedule-reschedule-tablehead th {
      border: 1px solid #e0e0e0;
      font-family: inherit;
    }

    & .my-schedule-reschedule-tablebody td {
      border: none !important;
      font-family: inherit;
    }

    & .my-schedule-reschedule-tablebody {
      & .MuiAccordionActions-root {
        padding: 0;
      }
    }

    & .my-schedules-accordion-table {
      border: none;

      & th {
        border: none;
        background-color: transparent;
      }

      & tr {
        background-color: transparent;
      }
    }
  }
}

#appointment-details-value,
#appointment-details-key {
  border: none !important;
}

#dialog-close-btn:hover {
  color: #9e9e9e !important;
}

.my-schedule-status-dialog table {
  border: none !important;
}

.my-schedule-filter-open-appointments-location,
.my-schedule-filter-open-appointments-date,
.my-schedule-filter-open-appointments-time,
.my-schedule-filter-open-appointments-search-btn-container,
.my-schedule-filter-open-appointments-reset-btn-container,
.my-schedule-filter-open-session-date-start,
.my-schedule-filter-open-session-date-end
.my-schedule-filter-open-session-time,
.my-schedule-filter-open-session-search-btn-container,
.my-schedule-filter-open-session-reset-btn-container {
  display: flex;
  padding: 5px 0;
}

#my-schedule-filter-open-appointments-reset-btn,
#my-schedule-filter-open-appointments-search-btn {
  padding: 7px 12px;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  width: 100%;
  font-family: inherit;
}

#my-schedule-filter-open-appointments-reset-btn {
  background-color: #ef7622;
  border-color: #ef7622;

  &:hover {
    background-color: #f68b1f;
    border-color: #f68b1f;
    box-shadow: 0px 2px 4px -1px RGB(0 0 0 / 20%),
      0px 4px 5px 0px RGB(0 0 0 / 14%), 0px 1px 10px 0px RGB(0 0 0 / 12%);
  }
}

#my-schedule-filter-open-appointments-search-btn {
  background-color: #47a141;
  border-color: #47a141;

  &:hover {
    background-color: #72bf44;
    border-color: #72bf44;
    box-shadow: 0px 2px 4px -1px RGB(0 0 0 / 20%),
      0px 4px 5px 0px RGB(0 0 0 / 14%), 0px 1px 10px 0px RGB(0 0 0 / 12%);
  }
}

.appointments-container {
  & .no-class-paper-row {
    border-left: 4px #dc7935 solid;
    border-radius: 4px !important;
    padding: 8px 4px;
    background-color: #f6fbfc !important;
    width: 100%;
    margin: 1px;

    & .no-class-found-title {
      padding: 3px 5px;
      display: flex;
      justify-content: center;
      flex-direction: row;

      &>.no-class-found-text {
        font-size: 15px;
        padding-top: 5px;
        color: #333;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    & .no-class-found-button-container {
      padding-top: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &>.no-class-found-button {
        height: 30px;
        background-color: #dc7935;
        color: #fff;
        font-size: 12px;
        width: 75%;

        &:hover {
          box-shadow: 0px 2px 4px -1px RGB(0 0 0 / 20%),
            0px 4px 5px 0px RGB(0 0 0 / 14%), 0px 1px 10px 0px RGB(0 0 0 / 12%);
          background-color: #d36c25;
        }
      }
    }
  }
}

.redirectMap-btn-parent-container {
  display: flex;
  justify-content: flex-end;

  .redirectMap-btn-container {
    display: flex;
    justify-content: flex-start;
    width: 47%;

    &>.redirectMap-btn {
      background-color: #3598dc;
      border-color: #3598dc;
      color: #fff;
      text-transform: capitalize;
      font-size: 12px;

      &:hover {
        background-color: #258cd3;
        box-shadow: 0px 2px 4px -1px RGB(0 0 0 / 20%),
          0px 4px 5px 0px RGB(0 0 0 / 14%), 0px 1px 10px 0px RGB(0 0 0 / 12%);
      }

      & .redirectMap-btn-icon {
        margin-right: 4px;
      }
    }
  }
}

.schedulingTabs {
  padding-bottom: 30px;
}

//Cancel Dialog Styles
.myschedule-cancel-dialog {
  & .myschedule-cancel-text {
    font-family: inherit;
    font-size: 15px;
  }
}

/*================= My Schedule Open Session Makeup =================*/

.my-schedule-open-makeup-session-filter-action-btn-container{
  display: flex;
  justify-content: flex-end;
  padding: 7px 5px;
}

/*================= End of My Schedule Open Session Makeup =================*/

@media only screen and (max-height: 850px) {
  .mySchedule {
    & .appointments-container {
      overflow: unset !important;
      max-height: none !important;
    }
  }
}

@media only screen and (max-width: 450px) {
  .appointments-container {
    .titleCard {
      flex-wrap: wrap;
      flex-direction: column;
    }

    .myScheduleCard-options {
      width: 100%;
      justify-content: space-between;
    }

    .myScheduleCard-options {
      flex-direction: column;
    }

    #makeupTitleCard-text {
      text-align: center;
    }

    .makeupDetailsCard {
      &>p:nth-child(3) {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  .mySchedule {
    &>div:nth-child(1) {
      padding: 5px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .mySchedule {
    & .schedule-datepicker-container {
      padding: 15px 0px 5px;
    }

    & .reset-date-container {
      padding: 0px;
    }

    .filter-toggle-button-container {
      padding: 10px 0px;
    }

    .appointments-container {
      padding: 10px 16px 0px 16px;
    }
  }

  .appointments-container {
    .titleCard {
      flex-direction: column;

      &>#roadtestTitleCard-text,
      &>#drivingTitleCard-text,
      &>#makeupTitleCard-text {
        text-align: center;
      }

      &>.myScheduleCard-options {
        display: flex;
        flex-direction: column;
        width: 100%;

        &>button {
          margin: 2px;
          width: 100%;
          border-radius: 4px;
        }
      }
    }
  }

  .schedulingTabs {
    & .MuiTabs-flexContainer {
      justify-content: space-around;
    }
  }
}


@media only screen and (max-width: 599px),
only screen and (max-height: 1800px) {

  .my-schedule-status-dialog,
  .my-schedule-makeup-dialog {
    & .MuiDialog-paperFullScreen {
      margin: 7% 0 0 !important;
      height: 97% !important;
    }
  }
}

@media only screen and (max-width: 599px),
only screen and (max-height: 1200px) {

  .my-schedule-status-dialog,
  .my-schedule-makeup-dialog {
    & .MuiDialog-paperFullScreen {
      margin: 8% 0 0 !important;
      height: 96% !important;
    }
  }
}

@media only screen and (max-width: 599px),
only screen and (max-height: 900px) {

  .my-schedule-status-dialog,
  .my-schedule-makeup-dialog {
    & .MuiDialog-paperFullScreen {
      margin: 9% 0 0 !important;
      height: 96% !important;
    }
  }
}

@media only screen and (max-width: 599px),
only screen and (max-height: 600px) {

  .my-schedule-status-dialog,
  .my-schedule-makeup-dialog {
    & .MuiDialog-paperFullScreen {
      margin: 8% 0 0 !important;
      height: 92% !important;
    }
  }
}

@media only screen and (max-width: 599px),
only screen and (max-height: 400px) {

  .my-schedule-status-dialog,
  .my-schedule-makeup-dialog {
    & .MuiDialog-paperFullScreen {
      margin: 6% 0 0 !important;
      height: 89% !important;
    }
  }
}

@media only screen and (max-width: 1200px),
only screen and (max-height: 655px) {

  .my-schedule-status-dialog,
  .my-schedule-makeup-dialog {
    & .MuiPaper-root.MuiDialog-paper {
      margin: 2% 0 0;
    }
  }
}

@media only screen and (max-width: 900px),
only screen and (max-height: 655px) {

  .my-schedule-status-dialog,
  .my-schedule-makeup-dialog {
    & .MuiPaper-root.MuiDialog-paper {
      margin: 4% 0 0;
    }
  }
}

@media only screen and (max-width: 900px),
only screen and (max-height: 655px) {

  .my-schedule-status-dialog,
  .my-schedule-makeup-dialog {
    & .MuiPaper-root.MuiDialog-paper {
      margin: 4% 0 0;
    }
  }
}

@media only screen and (max-width: 600px),
only screen and (max-height: 655px) {

  .my-schedule-status-dialog,
  .my-schedule-makeup-dialog {
    & .MuiPaper-root.MuiDialog-paper {
      margin: 3% 0 0;
    }
  }
}

@media only screen and (max-width: 599px),
only screen and (max-height: 655px) {

  .my-schedule-status-dialog,
  .my-schedule-makeup-dialog {
    & .MuiDialog-paperFullScreen {
      height: 89% !important;
      margin: 8% 0 0 !important;
    }
  }
}

@media only screen and (max-width: 550px),
only screen and (max-height: 655px) {

  .my-schedule-status-dialog,
  .my-schedule-makeup-dialog {
    & .MuiDialog-paperFullScreen {
      height: 93% !important;
      margin: 9% 0 0 !important;
    }
  }
}

@media only screen and (max-width: 550px),
only screen and (max-height: 655px) {

  .my-schedule-status-dialog,
  .my-schedule-makeup-dialog {
    & .MuiDialog-paperFullScreen {
      height: 92% !important;
      margin: 11% 0 0 !important;
    }
  }
}

@media only screen and (max-width: 450px),
only screen and (max-height: 655px) {

  .my-schedule-status-dialog,
  .my-schedule-makeup-dialog {
    & .MuiDialog-paperFullScreen {
      height: 94% !important;
      margin: 11% 0 0 !important;
    }
  }
}

@media only screen and (max-width: 350px),
only screen and (max-height: 655px) {

  .my-schedule-status-dialog,
  .my-schedule-makeup-dialog {
    & .MuiDialog-paperFullScreen {
      height: 93% !important;
      margin: 16% 0 0 !important;
    }
  }
}

@media only screen and (max-width: 450px) {
  .redirectMap-btn-parent-container {
    justify-content: center;

    & .redirectMap-btn-container {
      justify-content: center;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 350px) {
  .schedulingTabs {
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 775px) {
  .my-schedule-makeup-dialog .my-schedule-makeup-table {
    border: 1px solid #e0e0e0;

    & table,
    & td,
    & #makeup-select-btn {
      font-size: 12px;
    }

    & .MuiTableCell-sizeSmall {
      padding: 6px 5px;
    }
  }
}

@media only screen and (max-width: 350px) {
  .my-schedule-makeup-dialog {
    & .MuiToolbar-root {
      display: flex;
      flex-direction: column-reverse;
      padding: 0;

      & .MuiTablePagination-actions {
        margin-left: 0;
      }
    }
  }
}

/* End of styles in my-schedules */

/*########## MY CLASS ##########*/

.appointmentHeader {
  color: #000000;
  font-weight: 700 !important;
  font-size: 16px;
}

.tooltipButton,
.tooltipButton2 {
  background-color: #437cae !important;
  max-height: 41px !important;
  max-width: 40px !important;
  color: white !important;
  border-radius: 0px !important;
  padding: 9px 0px !important;
  min-width: 40px !important;
}

.tooltipButton2 {
  display: none !important;
}

.MuiTooltip-tooltip {
  font-size: 16px !important;
}

.MuiTooltip-tooltipPlacementTop {
  background-color: white !important;
  color: black !important;
  box-shadow: 0 1px 3px RGB(0 0 0 / 10%), 0 1px 2px RGB(0 0 0 / 18%);
}

button#myAccountFilterButton1 {
  background-color: #1f897f;
  color: white;
  max-height: 41px !important;
  max-width: 65px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.18) 0px 1px 2px 0px;
  border-radius: 4px;
}

.myAccountFilterButton1Wrapper {
  padding-top: 8px;
  margin-left: 10px;
}

.appointmentHeaderText,
#appointmentHeaderIcon {
  font-weight: 700 !important;
  font-family: inherit;
}

#appointmentHeaderIcon {
  font-size: 20px !important;
}

#myAccountFilterButton1:hover {
  box-shadow: 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

#tableDetailButton {
  background-color: #47a141;

  &:hover {
    background-color: #72bf44;
  }
}

#tableDetailButton svg {
  color: white !important;
  font-size: 2rem;
}

#appointmentTable td {
  font-size: 13px;
}

/* ##### My Classes Status Button ##### */
#appointmentStatusButtonAbsent,
#appointmentStatusButtonBookMakeup,
#appointmentStatusButtonSessionPassed,
#appointmentStatusButtonPresent,
#appointmentStatusButtonCompleted,
#appointmentStatusButtonPending,
#appointmentStatusButtonScheduled,
#my-classes-change-status-btn,
#my-classes-cancel-class {
  color: white;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 12px;

  &:hover {
    box-shadow: 0px 2px 4px -1px RGB(0 0 0 / 20%),
      0px 4px 5px 0px RGB(0 0 0 / 14%), 0px 1px 10px 0px RGB(0 0 0 / 12%);
  }
}

#appointmentStatusButtonAbsent,
#appointmentStatusButtonSessionPassed,
#appointmentStatusButtonPresent,
#appointmentStatusButtonCompleted,
#appointmentStatusButtonPending,
#appointmentStatusButtonScheduled,
#my-classes-change-status-btn {
  margin-bottom: 7px;
}

#appointmentStatusButtonBookMakeup,
#my-classes-cancel-class {
  margin: 5px;
}

#appointmentStatusButtonSessionPassed,
#appointmentStatusButtonPresent,
#appointmentStatusButtonCompleted,
#appointmentStatusButtonScheduled,
#appointmentStatusButtonBookMakeup {
  background-color: #47a141;

  &:hover {
    background-color: #72bf44;
  }
}

#appointmentStatusButtonAbsent,
#appointmentStatusButtonPending,
#my-classes-change-status-btn,
#my-classes-cancel-class {
  background-color: #ef7622;

  &:hover {
    background-color: #f68b1f;
  }
}

/* ##### End of My Classes Status Button ##### */

/* ##### My Classes Change menu style ##### */
#my-classes-change-menu,
#my-schedule-change-menu {

  & li {
    padding: 0 5px;

    &:hover {
      background-color: #ffffff;
    }
  }
}

/* ##### End of My Classes Change menu style ##### */

.appointmentTypediv {
  padding-top: 8px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.appointmentStatusdiv {
  padding-top: 8px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.appointmentStatus {
  max-width: 150px;
}

.crnotes {
  max-width: 175px;
  font-size: 13px;
}

.appointmentTypeCol {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 15px;
}

.appointmentStatusCol {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 15px;
}

@media only screen and (min-width: 310px) and (max-width: 321px) {
  .appointmentTypeCol {
    flex-wrap: wrap !important;
    margin-bottom: 15px;
  }

  .appointmentStatusCol {
    flex-wrap: wrap !important;
  }

  .appointmentTypediv {
    display: flex !important;
  }

  .appointmentStatusdiv {
    display: flex !important;
  }

  .appointmentTypediv label {
    font-size: 12px !important;
  }

  .appointmentStatusdiv label {
    font-size: 11px !important;
  }

  .modalBoldText {
    text-align: left !important;
  }

  .tooltipButton2 {
    display: block !important;
  }

  .tooltipButton {
    display: none !important;
  }
}

@media only screen and (min-width: 370px) and (max-width: 376px) {
  .appointmentTypeCol {
    flex-wrap: wrap !important;
    margin-bottom: 15px;
  }

  .appointmentStatusCol {
    flex-wrap: wrap !important;
  }

  .appointmentTypediv {
    display: flex !important;
  }

  .appointmentStatusdiv {
    display: flex !important;
  }

  .appointmentTypediv label {
    font-size: 15px !important;
  }

  .appointmentStatusdiv label {
    font-size: 14px !important;
  }

  .modalBoldText {
    text-align: left !important;
  }

  .tooltipButton2 {
    display: block !important;
  }

  .tooltipButton {
    display: none !important;
  }
}

@media only screen and (min-width: 420px) and (max-width: 426px) {
  .appointmentTypeCol {
    flex-wrap: wrap !important;
    margin-bottom: 15px;
  }

  .appointmentStatusCol {
    flex-wrap: wrap !important;
  }

  .appointmentTypediv {
    display: flex !important;
  }

  .appointmentStatusdiv {
    display: flex !important;
  }

  .appointmentTypediv label {
    font-size: 18px !important;
  }

  .appointmentStatusdiv label {
    font-size: 17px !important;
  }

  .tooltipButton2 {
    display: block !important;
  }

  .tooltipButton {
    display: none !important;
  }
}

@media only screen and (min-width: 767px) and (max-width: 768px) {
  .appointmentTypediv label {
    font-size: 12px !important;
  }

  .appointmentStatusdiv label {
    font-size: 11px !important;
  }

  .formCol2,
  .formCol1 {
    padding-left: 120px !important;
  }

  .tooltipButton2 {
    display: block !important;
  }

  .tooltipButton {
    display: none !important;
  }
}

.appointment-status-dialog-title {
  display: flex;
  justify-content: flex-end;
  padding: 8px !important;
}

#appointment-status-dialog-close-btn,
#grayscale-close-btn,
#Class-Schedule-Info-Btn,
#reset-info-btn,
#gray-close-btn {
  background-color: #EF7622 !important;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  box-shadow: 0 1px 3px RGB(0 0 0 / 10%), 0 1px 2px RGB(0 0 0 / 18%);
  font-family: inherit;

  &:hover {
    box-shadow: 0 3px 6px RGB(0 0 0 / 20%), 0 3px 6px RGB(0 0 0 / 26%);
    background-color: #F68B1F !important;
  }
}

#StatusBoldText {
  font-weight: 700 !important;
  font-size: 14px !important;
}

#makeup-select-btn,
#launchGoogleMap {
  background-color: #47a141;
  color: #ffffff;
  height: 32px;
  font-size: 14px;
}

#makeup-select-btn:hover,
#launchGoogleMap:hover {
  background-color: #72bf44;
}

#appointmentTable,
#appointmentTable th,
#appointmentTable td,
#appointmentTable tr {
  border: 1px solid #ddd !important;
}

#appointmentTable>thead>tr th {
  font-size: 14px !important;
  font-weight: 700 !important;
}

.appointmentTypediv .MuiOutlinedInput-root,
.appointmentStatusdiv .MuiOutlinedInput-root {
  border-radius: 4px 0 0 4px !important;
}

.filter-checkbox {
  color: #26c281 !important;
  margin-right: 8px !important;
}

#appointment-type-checkboxes-popup,
#appointment-status-checkboxes-popup {
  & p {
    font-size: 15px;
  }

  & .MuiSvgIcon-root {
    font-size: 18px;
  }
}

#appointment-status-checkboxes-label {
  font-family: inherit;
}

.appointmentTypediv,
.appointmentStatusdiv {

  & input,
  & .MuiAutocomplete-tag {
    font-size: 14px;
  }

  & .MuiChip-label.MuiChip-labelSmall {
    font-size: 12px;
  }

  & .MuiAutocomplete-endAdornment>button {
    color: rgba(0, 0, 0, 0.54);
    margin-left: 2px;
  }

  & .MuiAutocomplete-endAdornment {
    width: 60px;
    height: 30px;

    & svg {
      font-size: 20px;
    }
  }

  & .MuiInputLabel-root,
  & .MuiOutlinedInput-notchedOutline {
    font-size: 16px;
  }

  & .MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root'][class*='MuiOutlinedInput-marginDense'] .MuiAutocomplete-input {
    padding: 6px 5px;
  }

  & .MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root'] .MuiAutocomplete-endAdornment {
    right: 9px;
  }

  & fieldset {
    border-color: #ddd;
  }

  & .MuiInputBase-root.MuiOutlinedInput-root {
    border-color: #ddd;

    &:hover {
      border-color: #ddd;
    }
  }
}

#class-schedule-status-close-icon-btn,
#class-schedule-details-close-icon-btn {
  top: 0px;
  right: 0;

  &:hover {
    color: #9e9e9e;
  }

  &>.MuiIconButton-label>svg {
    font-size: 20px;
  }
}

.classSchedule>div:nth-child(1) {
  padding-left: 0;
  padding-right: 0;
}

.modalTextValue {
  font-size: 14px !important;
  color: #333333;
}

.modalBoldText {
  font-weight: 700 !important;
  text-align: right !important;
  font-size: 14px !important;
}


.modalRow {
  margin-bottom: 30px;
}

.MuiList-root.MuiMenu-list.MuiList-padding {
  &>li {
    font-size: 14px;
  }
}

//My Clases style for makeup dialog//
.my-classes-makeup-dialog {

  & .my-classes-makeup-table {
    border: 1px solid #e0e0e0;
    margin: 10px 0;

    & .my-classes-reschedule-tablebody>tr:hover {
      background-color: #f5f5f5 !important;
    }

    & .my-classes-reschedule-tablehead th {
      border: 1px solid #e0e0e0;
      font-family: inherit;
    }

    & .my-classes-reschedule-tablebody td {
      border: none !important;
      font-family: inherit;
    }

    & .my-classes-reschedule-tablebody {
      & .MuiAccordionActions-root {
        padding: 0;
      }
    }

    & .my-classes-accordion-table {
      border: none;

      & th {
        border: none;
        background-color: transparent;
      }

      & tr {
        background-color: transparent;
      }
    }
  }
}

//My Classes style for main table
#appointmentTable {
  border: 1px solid #e0e0e0;
  margin: 10px 0;

  & .my-classes-main-table-tablebody>tr:hover {
    background-color: #f5f5f5 !important;
  }

  & .my-classes-main-table-tablehead th {
    border: none;
    font-family: inherit;
  }

  & .my-classes-main-table-tablebody td {
    border: none !important;
    font-family: inherit;
  }
}


/*########## END OF schedules ##########*/

/*########## Start of Parent Class Design ##########*/
.parent-class-container{
  justify-content: center;
  height: 500px;
  align-items: center;
}

.parent-class-header-text,
#parent-class-header-icon {
  font-weight: 700;
  font-family: inherit;
}

#parent-class-header-icon {
  font-size: 25px;
  margin: 2px;
}

.parent-class-header-text {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  flex-wrap: nowrap;
}

.column-container{
  display: flex;
  flex-direction: column;
}

.row-container{
  display: flex;
  flex-direction: row;
}

.green-tns{
  background-color: #47a141 !important;
  color: #ffffff !important;

  &:hover {
    background-color: #72bf44 !important;
  }
}

.orange-tns{
  background-color: #ef7622 !important;
  color: #ffffff !important;

  &:hover {
    background-color: #f68b1f !important;
  }
}

.parent-class-add-schedule-card{
  width: 65%;
  padding: 0 15px;
  margin-left: 5px;

  .parent-class-add-schedule-text{
    line-height: 34px;
  }
}

#parent-class-add-schedule-btn{
  width: 35%;
  border-radius: 0px;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 12px;
}

/*########## End of Parent Class Design ##########*/